In [10]:
# from IPython import display
import grequests
import requests
from lxml import html
import pandas as pd
import re
from configparser import ConfigParser

config = ConfigParser()
config.read('config.ini')
email = config['login']['email']
password = config['login']['password']


pd.set_option('display.max_rows', 100)

df = pd.DataFrame()

url = 'https://profitus.lt/users/login'

resp = ''

login_data = {}

def get_data():
  urls = []
  with requests.session() as client:
    client.get(url)
    csrftoken = client.cookies['csrfToken']
    login_data = dict(email=email, password=password, _csrfToken=csrftoken, next='/')
    r = client.post(url, data=login_data, headers=dict(Referer=url))
    resp = client.get('https://www.profitus.lt/secondary-market')
    tree = html.fromstring(resp.text)
    next_url = 'https://profitus.lt' + tree.xpath('//a[@class="page-link-p fw-700"]')[-1].values()[0]

    number_of_pages = int(re.search("\d+", next_url).group())

    for i in range(1, number_of_pages+1):
      urls.append(f'https://www.profitus.lt/secondary-market?page={i}')
      
    reqs = [grequests.get(link, headers=dict(Referer=url), session=client) for link in urls]
    resp = grequests.map(reqs)
    return resp

def parse_data(resp):
  global df
  for r in resp:
    print(r.url)
    df = pd.concat([df, pd.read_html(r.text)[0]])

  print('scraping is over!')


from time import time

current_time = time()

resp = get_data()
parse_data(resp)

print("Time taken: ", time() - current_time)

df = df.drop(['Unnamed: 0', 'Unnamed: 9'], axis=1)

df['Projekto pavadinimas'] = df['Projekto pavadinimas'].map(lambda x: x.lstrip('Projekto pavadinimas:&nbsp '))
df['Reitingas'] = df['Reitingas'].map(lambda x: x.lstrip('Reitingas:&nbsp '))
df['Likęs terminas'] = df['Likęs terminas'].map(lambda x: x.lstrip('Likęs terminas:&nbsp ').rstrip('mėn.'))

# df['Likęs terminas'] = df['Likęs terminas'].map(lambda x: x.split('/')[0]).astype(int) + 1 # 1 month and 29 days is considered as 1 month, we're calculating worst example possible. only those will be worth to buy
df['Likęs terminas'] = df['Likęs terminas'].map(lambda x: x.split('/')[0]).astype(int) # 1 month and 29 days is considered as 1 month, we're calculating worst example possible. only those will be worth to buy


df['Likusi suma'] = df['Likusi suma'].map(lambda x: x.lstrip('Likusi suma:&nbsp'))

df['Likusi suma'] = df['Likusi suma'].str.replace('€', '')
df['Likusi suma'] = df['Likusi suma'].str.replace(',', '').astype(float)

df['Palūkanų norma'] = df['Palūkanų norma'].map(lambda x: x.lstrip('Palūkanų norma:&nbsp'))

df['Palūkanų norma'] = df['Palūkanų norma'].str.replace('%', '').astype(float)


df['Statusas'] = df['Statusas'].map(lambda x: x.lstrip('Statusas:&nbsp'))

df['Statusas'] = df['Statusas'].str.replace('Aktyvus', '1')
df['Statusas'] = df['Statusas'].str.replace('Vėluoja', '2').astype(int)



df['Likusi gautina sumai'] = df['Likusi gautina sumai'].map(lambda x: x.lstrip('Likusi gautina suma:&nbsp '))

df['Likusi gautina sumai'] = df['Likusi gautina sumai'].str.replace('€', '')
df['Likusi gautina sumai'] = df['Likusi gautina sumai'].str.replace(',', '').astype(float)

df['Pardavimo kaina'] = df['Pardavimo kaina'].map(lambda x: x.lstrip('Pardavimo kaina:&nbsp '))

df['Pardavimo kaina'] = df['Pardavimo kaina'].str.replace('€', '')
df['Pardavimo kaina'] = df['Pardavimo kaina'].str.replace(',', '').astype(float)

# df['Realios palūkanos'] = (df['Likusi gautina sumai'] - df['Pardavimo kaina']) * 100 / df['Pardavimo kaina'] / (df['Likęs terminas']/12)
import numpy as np
df[df['Likęs terminas'] < 1] = 1
df['Realios palūkanos'] = (np.power(df['Likusi gautina sumai'] / df['Pardavimo kaina'], 1/(df['Likęs terminas']/12)) - 1 ) * 100

# print(df[(df['Palūkanų norma'] - df['Realios palūkanos']) < 0]) # basically we're trying to find projects that have largest interest rate, than
# print(df[df['Likęs terminas'] < 1].sort_values('Likęs terminas', ascending=True))
from IPython.display import display
display(df[(df['Palūkanų norma'] - df['Realios palūkanos']) < 0])
df.sort_values('Realios palūkanos', ascending=False).head(100)

https://www.profitus.lt/secondary-market?page=1
https://www.profitus.lt/secondary-market?page=2
https://www.profitus.lt/secondary-market?page=3
https://www.profitus.lt/secondary-market?page=4
https://www.profitus.lt/secondary-market?page=5
https://www.profitus.lt/secondary-market?page=6
https://www.profitus.lt/secondary-market?page=7
https://www.profitus.lt/secondary-market?page=8
scraping is over!
Time taken:  2.9067397117614746

Empty DataFrame
Columns: [Projekto pavadinimas, Reitingas, Likęs terminas, Likusi suma, Palūkanų norma, Statusas, Likusi gautina sumai, Pardavimo kaina, Realios palūkanos]
Index: []

Empty DataFrame
Columns: [Projekto pavadinimas, Reitingas, Likęs terminas, Likusi suma, Palūkanų norma, Statusas, Likusi gautina sumai, Pardavimo kaina, Realios palūkanos]
Index: []

,Projekto pavadinimas,Reitingas,Likęs terminas,Likusi suma,Palūkanų norma,Statusas,Likusi gautina sumai,Pardavimo kaina,Realios palūkanos
2,#395 Saurenta plėtra,C+,9,530.00,8.5,1,574.80,545.00,7.356170
1,#357 Namas Antakalnyje,C+,6,216.49,8.0,2,228.59,221.00,6.986729
1,#312 Palėpės rekonstrukcija Kauno centre II,B-,3,100.00,7.5,1,103.70,102.00,6.835193
3,#347 Užupio butai,B,6,100.00,8.0,2,105.35,102.00,6.676495
3,#396 Lapino namai IV,B-,9,505.00,8.0,1,545.18,520.00,6.507967
0,#411 Antakalnio vakarai,D,10,500.00,12.0,1,559.67,535.00,5.558666
5,#421 Butas Pylimo g.,B+,7,100.00,7.0,1,105.22,102.04,5.401730
4,"#404 Kvartalas „Baltai"" II",B-,9,1915.90,9.5,1,2096.91,2020.00,5.108514
0,#348 Radastų namai II,B-,6,1000.00,8.0,1,1055.89,1030.00,5.090366
2,#428 Namai Bališkių pušyne,B-,10,1219.63,8.5,1,1322.73,1270.00,5.002824
1,#442 Naujakurių daugiabutis Kaune,C+,17,1338.64,8.5,1,1508.54,1410.00,4.883936
5,#395 Saurenta plėtra,C+,9,100.00,8.5,1,108.45,105.00,4.404770
3,#425 Apartamentai vaivorykštėje,B-,35,1000.00,8.0,1,1239.78,1100.00,4.186655
2,#441 Gruodo butai,C+,11,1000.00,9.0,1,1089.51,1050.00,4.111877
5,#407 Butai Kęstučio 5,B-,9,3500.00,9.0,1,3813.27,3700.00,4.102488
5,#353 14 Renesanso butas,B,7,1000.00,7.5,1,1053.42,1030.00,3.929505
4,#347 Užupio butai,B,6,10000.00,9.0,2,10601.64,10400.00,3.915284
1,#349 11 Renesanso butas,B,6,1000.00,7.0,1,1049.48,1030.00,3.818293
0,#396 Lapino namai IV,B-,9,100.00,8.0,1,107.96,105.00,3.776281
4,#373 Butas Pilies g.,A-,7,100.00,6.0,1,104.14,102.00,3.623535
3,#433 Butas Verkių g.,B,7,606.95,8.0,1,643.13,630.00,3.599330
3,#402 Tarandės namai II,B+,14,1211.80,7.0,1,1331.25,1280.00,3.422251
4,#398 Poilsio namai „Mežliči“ II,C-,9,104.16,8.0,1,112.45,110.00,2.980667
4,#407 Butai Kęstučio 5,B-,9,614.92,8.0,1,663.84,650.00,2.849002
1,#393 Butai Kaune III,A-,15,210.00,5.0,1,225.68,218.00,2.808557
2,#434 Namai Miško panoramoje,B-,4,519.40,8.0,1,539.89,535.00,2.767195
5,#414 Namas Dusmenų g.,B-,16,500.00,8.0,1,559.62,540.00,2.712808
0,#405 Butai Kaune IV,A-,15,200.00,5.0,1,214.90,208.00,2.645157
4,#441 Gruodo butai,C+,11,117.61,8.0,1,126.97,124.00,2.615728
1,#401 Dvibutis Ismonių g.,C,9,100.00,7.0,1,106.96,105.00,2.496600
5,#400 Du dvibučiai Didžiojoje Riešėje II,C+,9,500.00,8.0,1,539.78,530.00,2.467913
1,#363 Butas Žirmūnuose,B,7,1000.00,7.5,1,1054.66,1040.00,2.428633
2,#354 Apartamentai senamiestyje,B,7,102.12,7.0,1,107.37,106.00,2.225848
0,#421 Butas Pylimo g.,B+,7,509.74,7.5,1,538.23,532.00,2.015906
3,#348 Radastų namai II,B-,6,501.29,8.0,1,529.31,525.00,1.648644
2,#362 Šiaurės namas,C+,7,500.00,8.0,1,529.48,525.00,1.467312
5,#365 Butas Žvėryne,B,8,100.00,7.0,1,104.95,104.00,1.373317
3,#399 Namas Šumsko g.,B-,9,104.16,7.5,1,111.93,111.00,1.118674
0,#359 Radastų namai III,B-,7,100.22,7.5,1,105.53,105.00,0.866865
2,#311 Butai Žvėryne „S41“ IV,A,3,100.00,5.0,1,102.15,102.00,0.589534
0,#348 Radastų namai II,B-,6,100.00,7.5,1,105.24,105.00,0.457665
1,1,1,1,1.00,1.0,1,1.00,1.00,0.000000
4,#397 Du dvibučiai Didžiojoje Riešėje,C+,9,100.00,7.5,1,107.46,110.00,-3.066878
0,"#238 Loftai, Kaunas XVI",A-,2,109.29,7.0,1,110.99,112.00,-5.290188

C:\Users\adoma\AppData\Local\Programs\Python\Python39\lib\site-packages\gevent\hub.py:161: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

,Projekto pavadinimas,Reitingas,Likęs terminas,Likusi suma,Palūkanų norma,Statusas,Likusi gautina sumai,Pardavimo kaina,Realios palūkanos
1,#270 Komfortiški soduose II,B-,0,498.68,8.0,2,498.68,511.0,-100.0

C:\Users\adoma\AppData\Local\Programs\Python\Python39\lib\site-packages\gevent\hub.py:161: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t: