In [1]:
# from IPython import display
import requests
from lxml import html
from lxml.etree import XPathEvalError
import pandas as pd
from configparser import ConfigParser

config = ConfigParser('config.ini')
email = config['login']['email']
password = config['login']['password']

pd.set_option('display.max_rows', 100)

df = pd.DataFrame()

url = 'https://profitus.lt/users/login'

resp = ''

with requests.session() as client:
  client.get(url)
  csrftoken = client.cookies['csrfToken']
  login_data = dict(email=email, password=password, _csrfToken=csrftoken, next='/')
  r = client.post(url, data=login_data, headers=dict(Referer=url))
  resp = client.get('https://www.profitus.lt/secondary-market') # ?page=5
  tree = html.fromstring(resp.text)
  next_url = 'https://profitus.lt' + tree.xpath('//a[@class="page-link-p fw-700"]')[0].values()[0]

  df = pd.read_html(resp.text)[0]
  try:
    while next_url:
      b = 2
      resp = client.get(next_url)
      print(resp.url)
      tree = html.fromstring(resp.text)
      next_url = 'https://profitus.lt' + tree.xpath('//a[@class="page-link-p fw-700"]')[b].values()[0]
      # df.merge(pd.read_html(resp.text)[0])
      df = pd.concat((df, pd.read_html(resp.text)[0]))
      if len(tree.xpath('//a[@class="page-link-p fw-700"]')) == 4:
        b = 2
      else:
        raise XPathEvalError('XPath was not found | scraping ended.')
  except (XPathEvalError, IndexError):
      print('scraping is over!')
  # print(df.columns)
df = df.drop(['Unnamed: 0', 'Unnamed: 9'], axis=1)

df['Projekto pavadinimas'] = df['Projekto pavadinimas'].map(lambda x: x.lstrip('Projekto pavadinimas:&nbsp '))
df['Reitingas'] = df['Reitingas'].map(lambda x: x.lstrip('Reitingas:&nbsp '))
df['Likęs terminas'] = df['Likęs terminas'].map(lambda x: x.lstrip('Likęs terminas:&nbsp ').rstrip('mėn.'))

df['Likęs terminas'] = df['Likęs terminas'].map(lambda x: x.split('/')[0]).astype(int) + 1 # 1 month and 29 days is considered as 1 month, we're calculating worst example possible. only those will be worth to buy


df['Likusi suma'] = df['Likusi suma'].map(lambda x: x.lstrip('Likusi suma:&nbsp'))

df['Likusi suma'] = df['Likusi suma'].str.replace('€', '')
df['Likusi suma'] = df['Likusi suma'].str.replace(',', '').astype(float)

df['Palūkanų norma'] = df['Palūkanų norma'].map(lambda x: x.lstrip('Palūkanų norma:&nbsp'))

df['Palūkanų norma'] = df['Palūkanų norma'].str.replace('%', '').astype(float)


df['Statusas'] = df['Statusas'].map(lambda x: x.lstrip('Statusas:&nbsp'))

df['Statusas'] = df['Statusas'].str.replace('Aktyvus', '1')
df['Statusas'] = df['Statusas'].str.replace('Vėluoja', '2').astype(int)



df['Likusi gautina sumai'] = df['Likusi gautina sumai'].map(lambda x: x.lstrip('Likusi gautina suma:&nbsp '))

df['Likusi gautina sumai'] = df['Likusi gautina sumai'].str.replace('€', '')
df['Likusi gautina sumai'] = df['Likusi gautina sumai'].str.replace(',', '').astype(float)

df['Pardavimo kaina'] = df['Pardavimo kaina'].map(lambda x: x.lstrip('Pardavimo kaina:&nbsp '))

df['Pardavimo kaina'] = df['Pardavimo kaina'].str.replace('€', '')
df['Pardavimo kaina'] = df['Pardavimo kaina'].str.replace(',', '').astype(float)

df['Realios palūkanos'] = (df['Likusi gautina sumai'] - df['Pardavimo kaina']) * 100 / df['Pardavimo kaina'] / (df['Likęs terminas']/12)
print(df[(df['Palūkanų norma'] - df['Realios palūkanos']) < 0]) # basically we're trying to find projects that have largest interest rate, than
df.sort_values('Realios palūkanos', ascending=False).head(100)

https://profitus.lt/secondary-market?page=2
https://profitus.lt/secondary-market?page=3
https://profitus.lt/secondary-market?page=4
https://profitus.lt/secondary-market?page=5
https://profitus.lt/secondary-market?page=6
https://profitus.lt/secondary-market?page=7
https://profitus.lt/secondary-market?page=8
scraping is over!
Empty DataFrame
Columns: [Projekto pavadinimas, Reitingas, Likęs terminas, Likusi suma, Palūkanų norma, Statusas, Likusi gautina sumai, Pardavimo kaina, Realios palūkanos]
Index: []

                           Projekto pavadinimas  ... Realios palūkanos
2  #332 Palėpės rekonstrukcija Kauno centre III  ...          6.622309
2                       #411 Antakalnio vakarai  ...          4.640984
3                           #274 Namas Kulmo g.  ...          4.217419
1                #354 Apartamentai senamiestyje  ...          4.104575
0                         #363 Butas Žirmūnuose  ...          4.052288
0                       #411 Antakalnio vakarai  ...          3.832675
5         #315 8 butas Pažaislio apartamentuose  ...          3.696716
1                       #411 Antakalnio vakarai  ...          3.642593
1                          #395 Saurenta plėtra  ...          3.584416
2               #398 Poilsio namai „Mežliči“ II  ...          3.452877
0                          #421 Butas Pylimo g.  ...          3.360000
0                          #396 Lapino namai IV  ...          3.075325
1                         #407 Butai Kęstučio 5  ...          3.061351
5                       #403 Bendorių panoramos  ...          2.757576
4              #366 Butas Vilniaus senamiestyje  ...          2.641075
4                 #324 Juozapavičiaus projektai  ...          2.637037
4                       #403 Bendorių panoramos  ...          2.538561
1                          #395 Saurenta plėtra  ...          2.521441
1                    #404 Kvartalas „Baltai" II  ...          2.496319
1                            #362 Šiaurės namas  ...          2.430769
0                         #348 Radastų namai II  ...          2.387179
3            #409 Kvartalas "Baltai" III etapas  ...          2.315094
2                               #386 Gedimino 2  ...          2.242286
5                            #365 Butas Žvėryne  ...          2.240000
2                          #396 Lapino namai IV  ...          2.017153
4                       #403 Bendorių panoramos  ...          2.017153
3               #398 Poilsio namai „Mežliči“ II  ...          2.017153
3           #285 Patalpos Birželio 23-iosios g.  ...          1.972603
5                         #363 Butas Žirmūnuose  ...          1.879487
3                       #353 14 Renesanso butas  ...          1.823899
4                #354 Apartamentai senamiestyje  ...          1.723270
5                       #349 11 Renesanso butas  ...          1.605178
3                         #348 Radastų namai II  ...          1.589744
5            #409 Kvartalas "Baltai" III etapas  ...          1.336822
4                     #417 Šatrininkų namai III  ...          1.228261
5                          #399 Namas Šumsko g.  ...          0.914005
4                        #359 Radastų namai III  ...          0.673016
0             #343 Namų kvartalas „Baltai sala"  ...         -0.784000
2       #400 Du dvibučiai Didžiojoje Riešėje II  ...         -0.846257
3                        #322 Namas Žemuogių g.  ...         -1.165217
0                            #394 Mėtų dvibutis  ...         -1.851429
2                  #337 Valakampių apartamentai  ...        -12.273913

[42 rows x 9 columns]

In [5]:
print(df[(df['Palūkanų norma'] - df['Realios palūkanos']) < 0]) # basically we're trying to find projects that have largest interest rate, than

Empty DataFrame
Columns: [Projekto pavadinimas, Reitingas, Likęs terminas, Likusi suma, Palūkanų norma, Statusas, Likusi gautina sumai, Pardavimo kaina, Realios palūkanos]
Index: []

In [4]:
df[df['Realios palūkanos'] < 0]

                      Projekto pavadinimas  ... Realios palūkanos
3             #337 Valakampių apartamentai  ...        -12.273913
4                   #322 Namas Žemuogių g.  ...         -1.165217
1        #343 Namų kvartalas „Baltai sala"  ...         -0.784000
3  #400 Du dvibučiai Didžiojoje Riešėje II  ...         -0.846257
1                       #394 Mėtų dvibutis  ...         -1.851429

[5 rows x 9 columns]

![image.png]()

In [ ]:
from datetime import datetime

date = datetime.now().strftime('%Y-%m-%d')

df.sort_values('Realios palūkanos', ascending=False).head(100).to_excel(f'profitus_secondary_market_{date}.xlsx')