# Sync

In [1]:
# from IPython import display
import requests
from lxml import html
from lxml.etree import XPathEvalError
import pandas as pd
from configparser import ConfigParser

config = ConfigParser()
config.read('config.ini')
email = config['login']['email']
password = config['login']['password']

pd.set_option('display.max_rows', 100)

df = pd.DataFrame()

url = 'https://profitus.lt/users/login'

resp = ''

from time import time
current_time = time()

with requests.session() as client:
  client.get(url)
  csrftoken = client.cookies['csrfToken']
  login_data = dict(email=email, password=password, _csrfToken=csrftoken, next='/')
  r = client.post(url, data=login_data, headers=dict(Referer=url))
  resp = client.get('https://www.profitus.lt/secondary-market') # ?page=5
  tree = html.fromstring(resp.text)
  next_url = 'https://profitus.lt' + tree.xpath('//a[@class="page-link-p fw-700"]')[0].values()[0]

  df = pd.read_html(resp.text)[0]
  try:
    while next_url:
      b = 2
      resp = client.get(next_url)
      print(resp.url)
      tree = html.fromstring(resp.text)
      next_url = 'https://profitus.lt' + tree.xpath('//a[@class="page-link-p fw-700"]')[b].values()[0]
      # df.merge(pd.read_html(resp.text)[0])
      df = pd.concat((df, pd.read_html(resp.text)[0]))
      if len(tree.xpath('//a[@class="page-link-p fw-700"]')) == 4:
        b = 2
      else:
        raise XPathEvalError('XPath was not found | scraping ended.')
  except (XPathEvalError, IndexError):
      print('scraping is over!')
  # print(df.columns)
  
print("Time taken: ", time() - current_time)

df = df.drop(['Unnamed: 0', 'Unnamed: 9'], axis=1)

df['Projekto pavadinimas'] = df['Projekto pavadinimas'].map(lambda x: x.lstrip('Projekto pavadinimas:&nbsp '))
df['Reitingas'] = df['Reitingas'].map(lambda x: x.lstrip('Reitingas:&nbsp '))
df['Likęs terminas'] = df['Likęs terminas'].map(lambda x: x.lstrip('Likęs terminas:&nbsp ').rstrip('mėn.'))

df['Likęs terminas'] = df['Likęs terminas'].map(lambda x: x.split('/')[0]).astype(int) + 1 # 1 month and 29 days is considered as 1 month, we're calculating worst example possible. only those will be worth to buy


df['Likusi suma'] = df['Likusi suma'].map(lambda x: x.lstrip('Likusi suma:&nbsp'))

df['Likusi suma'] = df['Likusi suma'].str.replace('€', '')
df['Likusi suma'] = df['Likusi suma'].str.replace(',', '').astype(float)

df['Palūkanų norma'] = df['Palūkanų norma'].map(lambda x: x.lstrip('Palūkanų norma:&nbsp'))

df['Palūkanų norma'] = df['Palūkanų norma'].str.replace('%', '').astype(float)


df['Statusas'] = df['Statusas'].map(lambda x: x.lstrip('Statusas:&nbsp'))

df['Statusas'] = df['Statusas'].str.replace('Aktyvus', '1')
df['Statusas'] = df['Statusas'].str.replace('Vėluoja', '2').astype(int)



df['Likusi gautina sumai'] = df['Likusi gautina sumai'].map(lambda x: x.lstrip('Likusi gautina suma:&nbsp '))

df['Likusi gautina sumai'] = df['Likusi gautina sumai'].str.replace('€', '')
df['Likusi gautina sumai'] = df['Likusi gautina sumai'].str.replace(',', '').astype(float)

df['Pardavimo kaina'] = df['Pardavimo kaina'].map(lambda x: x.lstrip('Pardavimo kaina:&nbsp '))

df['Pardavimo kaina'] = df['Pardavimo kaina'].str.replace('€', '')
df['Pardavimo kaina'] = df['Pardavimo kaina'].str.replace(',', '').astype(float)

df['Realios palūkanos'] = (df['Likusi gautina sumai'] - df['Pardavimo kaina']) * 100 / df['Pardavimo kaina'] / (df['Likęs terminas']/12)
print(df[(df['Palūkanų norma'] - df['Realios palūkanos']) < 0]) # basically we're trying to find projects that have largest interest rate, than
df.sort_values('Realios palūkanos', ascending=False).head(100)

https://profitus.lt/secondary-market?page=2
https://profitus.lt/secondary-market?page=3
https://profitus.lt/secondary-market?page=4
https://profitus.lt/secondary-market?page=5
https://profitus.lt/secondary-market?page=6
https://profitus.lt/secondary-market?page=7
https://profitus.lt/secondary-market?page=8
https://profitus.lt/secondary-market?page=9
https://profitus.lt/secondary-market?page=10
scraping is over!
Time taken:  6.798128604888916
Empty DataFrame
Columns: [Projekto pavadinimas, Reitingas, Likęs terminas, Likusi suma, Palūkanų norma, Statusas, Likusi gautina sumai, Pardavimo kaina, Realios palūkanos]
Index: []

,Projekto pavadinimas,Reitingas,Likęs terminas,Likusi suma,Palūkanų norma,Statusas,Likusi gautina sumai,Pardavimo kaina,Realios palūkanos
4,#403 Bendorių panoramos,C,11,200.00,8.0,1,215.91,205.0,5.805765
2,#400 Du dvibučiai Didžiojoje Riešėje II,C+,11,120.37,7.5,1,129.35,123.0,5.631929
0,#411 Antakalnio vakarai,D,11,570.25,12.0,1,638.31,610.0,5.062891
1,#274 Namas Kulmo g.,B-,7,1500.00,9.0,1,1593.58,1550.0,4.819908
3,#372 Gyvenamasis namas Panevėžyje,B-,9,109.24,7.0,1,116.84,113.0,4.530973
4,#373 Butas Pilies g.,A-,9,100.00,6.0,1,105.97,102.5,4.513821
2,#357 Namas Antakalnyje,C+,8,216.49,8.0,2,228.59,222.0,4.452703
4,#411 Antakalnio vakarai,D,11,6050.00,13.0,1,6832.19,6580.0,4.181100
1,"#404 Kvartalas „Baltai"" II",B-,11,1915.90,9.5,1,2096.91,2020.0,4.153555
4,#428 Namai Bališkių pušyne,B-,12,1219.63,8.5,1,1322.73,1270.0,4.151969
5,#425 Apartamentai vaivorykštėje,B-,37,1000.00,8.0,1,1239.78,1100.0,4.121278
5,#354 Apartamentai senamiestyje,B,9,100.00,7.0,1,105.14,102.0,4.104575
3,#407 Butai Kęstučio 5,B-,11,614.92,8.0,1,663.84,640.0,4.063636
4,#363 Butas Žirmūnuose,B,9,100.00,7.0,1,105.10,102.0,4.052288
5,#411 Antakalnio vakarai,D,11,500.00,12.0,1,559.67,540.0,3.973737
2,#348 Radastų namai II,B-,8,1000.00,8.0,1,1055.89,1030.0,3.770388
3,#315 8 butas Pažaislio apartamentuose,B,5,330.22,7.0,1,340.16,335.0,3.696716
1,#353 14 Renesanso butas,B,8,1000.00,7.5,1,1053.42,1030.0,3.410680
3,#403 Bendorių panoramos,C,11,170.95,8.0,1,184.55,179.0,3.382428
5,#421 Butas Pylimo g.,B+,9,509.74,7.5,1,538.23,525.0,3.360000
0,#407 Butai Kęstučio 5,B-,11,3500.00,9.0,1,3813.27,3700.0,3.339656
0,#401 Dvibutis Ismonių g.,C,11,100.00,7.0,1,106.96,104.0,3.104895
5,#403 Bendorių panoramos,C,11,200.00,8.0,1,215.91,210.0,3.070130
2,#402 Tarandės namai II,B+,16,1211.80,7.0,1,1331.25,1280.0,3.002930
0,#347 Užupio butai,B,8,10000.00,9.0,2,10601.64,10400.0,2.908269
3,#349 11 Renesanso butas,B,8,1000.00,7.0,1,1049.48,1030.0,2.836893
0,"#409 Kvartalas ""Baltai"" III etapas",B-,11,2388.80,9.5,1,2614.49,2550.0,2.758930
4,#348 Radastų namai II,B-,8,501.29,8.0,1,529.31,520.0,2.685577
2,#366 Butas Vilniaus senamiestyje,B-,9,500.00,8.5,2,531.32,521.0,2.641075
2,#324 Juozapavičiaus projektai,B-,6,65.10,7.5,1,68.39,67.5,2.637037
4,#365 Butas Žvėryne,B,9,119.16,7.0,1,127.46,125.0,2.624000
0,"#409 Kvartalas ""Baltai"" III etapas",B-,11,500.00,8.5,1,542.27,530.0,2.525557
4,#393 Butai Kaune III,A-,17,210.00,5.0,1,225.68,218.0,2.486778
5,#362 Šiaurės namas,C+,9,500.00,8.0,1,529.48,520.0,2.430769
4,#414 Namas Dusmenų g.,B-,18,500.00,8.0,1,559.62,540.0,2.422222
3,#405 Butai Kaune IV,A-,17,200.00,5.0,1,214.90,208.0,2.341629
0,#386 Gedimino 2,B+,10,1000.00,7.0,1,1069.62,1050.0,2.242286
5,#427 Vienbutis Kalno 87,B-,9,102.90,7.5,1,108.63,107.0,2.031153
2,#400 Du dvibučiai Didžiojoje Riešėje II,C+,11,500.00,8.0,1,539.78,530.0,2.013036
1,#285 Patalpos Birželio 23-iosios g.,B,9,140.00,8.0,1,148.16,146.0,1.972603
3,#363 Butas Žirmūnuose,B,9,1000.00,7.5,1,1054.66,1040.0,1.879487
5,#434 Namai Miško panoramoje,B-,6,519.40,8.0,1,539.89,535.0,1.828037
3,#349 11 Renesanso butas,B,8,100.00,6.0,1,104.24,103.0,1.805825
1,#348 Radastų namai II,B-,8,100.00,7.5,1,105.24,104.0,1.788462
0,#399 Namas Šumsko g.,B-,11,104.16,7.5,1,111.93,111.0,0.914005
1,#403 Bendorių panoramos,C,11,103.60,8.0,1,111.84,111.0,0.825553
2,#359 Radastų namai III,B-,8,100.22,7.5,1,105.53,105.0,0.757143
0,#386 Gedimino 2,B+,10,104.76,6.5,1,111.53,111.0,0.572973
1,#359 Radastų namai III,B-,8,100.00,7.5,1,105.30,105.0,0.428571
3,#365 Butas Žvėryne,B,9,184.77,7.0,1,197.63,197.0,0.426396
2,#348 Radastų namai II,B-,8,146.61,7.5,1,154.29,154.0,0.282468
5,#378 Dvibutis Šatrininkų g. II,B+,10,203.29,6.0,1,215.42,215.0,0.234419
1,#301 Butai Žvėryne „S41“ II,A,4,100.00,5.0,1,102.23,103.0,-2.242718
1,#274 Namas Kulmo g.,B-,7,1094.39,9.0,1,1162.66,1199.0,-5.195758

# Async

In [1]:
# from IPython import display
import grequests
import requests
from lxml import html
import pandas as pd
import re
from configparser import ConfigParser

config = ConfigParser()
config.read('config.ini')
email = config['login']['email']
password = config['login']['password']


pd.set_option('display.max_rows', 100)

df = pd.DataFrame()

url = 'https://profitus.lt/users/login'

resp = ''

login_data = {}

def get_data():
  urls = []
  with requests.session() as client:
    client.get(url)
    csrftoken = client.cookies['csrfToken']
    login_data = dict(email=email, password=password, _csrfToken=csrftoken, next='/')
    r = client.post(url, data=login_data, headers=dict(Referer=url))
    resp = client.get('https://www.profitus.lt/secondary-market')
    tree = html.fromstring(resp.text)
    next_url = 'https://profitus.lt' + tree.xpath('//a[@class="page-link-p fw-700"]')[-1].values()[0]

    number_of_pages = int(re.search("\d+", next_url).group())

    for i in range(1, number_of_pages+1):
      urls.append(f'https://www.profitus.lt/secondary-market?page={i}')
      
    reqs = [grequests.get(link, headers=dict(Referer=url), session=client) for link in urls]
    resp = grequests.map(reqs)
    return resp

def parse_data(resp):
  global df
  for r in resp:
    print(r.url)
    df = pd.concat([df, pd.read_html(r.text)[0]])

  print('scraping is over!')


from time import time

current_time = time()

resp = get_data()
parse_data(resp)

print("Time taken: ", time() - current_time)

df = df.drop(['Unnamed: 0', 'Unnamed: 9'], axis=1)

df['Projekto pavadinimas'] = df['Projekto pavadinimas'].map(lambda x: x.lstrip('Projekto pavadinimas:&nbsp '))
df['Reitingas'] = df['Reitingas'].map(lambda x: x.lstrip('Reitingas:&nbsp '))
df['Likęs terminas'] = df['Likęs terminas'].map(lambda x: x.lstrip('Likęs terminas:&nbsp ').rstrip('mėn.'))

df['Likęs terminas'] = df['Likęs terminas'].map(lambda x: x.split('/')[0]).astype(int) + 1 # 1 month and 29 days is considered as 1 month, we're calculating worst example possible. only those will be worth to buy


df['Likusi suma'] = df['Likusi suma'].map(lambda x: x.lstrip('Likusi suma:&nbsp'))

df['Likusi suma'] = df['Likusi suma'].str.replace('€', '')
df['Likusi suma'] = df['Likusi suma'].str.replace(',', '').astype(float)

df['Palūkanų norma'] = df['Palūkanų norma'].map(lambda x: x.lstrip('Palūkanų norma:&nbsp'))

df['Palūkanų norma'] = df['Palūkanų norma'].str.replace('%', '').astype(float)


df['Statusas'] = df['Statusas'].map(lambda x: x.lstrip('Statusas:&nbsp'))

df['Statusas'] = df['Statusas'].str.replace('Aktyvus', '1')
df['Statusas'] = df['Statusas'].str.replace('Vėluoja', '2').astype(int)



df['Likusi gautina sumai'] = df['Likusi gautina sumai'].map(lambda x: x.lstrip('Likusi gautina suma:&nbsp '))

df['Likusi gautina sumai'] = df['Likusi gautina sumai'].str.replace('€', '')
df['Likusi gautina sumai'] = df['Likusi gautina sumai'].str.replace(',', '').astype(float)

df['Pardavimo kaina'] = df['Pardavimo kaina'].map(lambda x: x.lstrip('Pardavimo kaina:&nbsp '))

df['Pardavimo kaina'] = df['Pardavimo kaina'].str.replace('€', '')
df['Pardavimo kaina'] = df['Pardavimo kaina'].str.replace(',', '').astype(float)

df['Realios palūkanos'] = (df['Likusi gautina sumai'] - df['Pardavimo kaina']) * 100 / df['Pardavimo kaina'] / (df['Likęs terminas']/12)
print(df[(df['Palūkanų norma'] - df['Realios palūkanos']) < 0]) # basically we're trying to find projects that have largest interest rate, than
df.sort_values('Realios palūkanos', ascending=False).head(100)

https://www.profitus.lt/secondary-market?page=1
https://www.profitus.lt/secondary-market?page=2
https://www.profitus.lt/secondary-market?page=3
https://www.profitus.lt/secondary-market?page=4
https://www.profitus.lt/secondary-market?page=5
https://www.profitus.lt/secondary-market?page=6
https://www.profitus.lt/secondary-market?page=7
https://www.profitus.lt/secondary-market?page=8
https://www.profitus.lt/secondary-market?page=9
scraping is over!
Time taken:  2.9670822620391846
Empty DataFrame
Columns: [Projekto pavadinimas, Reitingas, Likęs terminas, Likusi suma, Palūkanų norma, Statusas, Likusi gautina sumai, Pardavimo kaina, Realios palūkanos]
Index: []

,Projekto pavadinimas,Reitingas,Likęs terminas,Likusi suma,Palūkanų norma,Statusas,Likusi gautina sumai,Pardavimo kaina,Realios palūkanos
2,#411 Antakalnio vakarai,D,11,200.00,12.0,1,223.87,208.00,8.323427
5,#395 Saurenta plėtra,C+,10,530.00,8.5,1,574.80,545.00,6.561468
0,#396 Lapino namai IV,B-,10,505.00,8.0,1,545.18,520.00,5.810769
5,#400 Du dvibučiai Didžiojoje Riešėje II,C+,11,120.37,7.5,1,129.35,123.00,5.631929
0,#347 Užupio butai,B,7,100.00,8.0,2,105.35,102.00,5.630252
3,#443 Sklypas Žeimenos g.,C,12,500.00,9.0,1,544.75,516.00,5.571705
4,#411 Antakalnio vakarai,D,11,500.00,12.0,1,559.67,535.00,5.030416
4,#402 Tarandės namai II,B+,16,200.00,6.5,1,218.31,205.00,4.869512
3,#421 Butas Pylimo g.,B+,8,100.00,7.0,1,105.22,102.04,4.674637
4,#442 Naujakurių daugiabutis Kaune,C+,18,1338.64,8.5,1,1508.54,1410.00,4.659102
1,"#404 Kvartalas „Baltai"" II",B-,10,1915.90,9.5,1,2096.91,2020.00,4.568911
1,#428 Namai Bališkių pušyne,B-,11,1219.63,8.5,1,1322.73,1270.00,4.529420
5,#357 Namas Antakalnyje,C+,8,216.49,8.0,2,228.59,222.00,4.452703
2,#425 Apartamentai vaivorykštėje,B-,36,1000.00,8.0,1,1239.78,1100.00,4.235758
0,#407 Butai Kęstučio 5,B-,11,614.92,8.0,1,663.84,640.00,4.063636
2,#395 Saurenta plėtra,C+,10,100.00,8.5,1,108.45,105.00,3.942857
0,#421 Butas Pylimo g.,B+,8,509.74,7.5,1,538.23,525.00,3.780000
3,#348 Radastų namai II,B-,8,1000.00,8.0,1,1055.89,1030.00,3.770388
5,#441 Gruodo butai,C+,12,1000.00,9.0,1,1089.51,1050.00,3.762857
0,#403 Bendorių panoramos,C,10,170.95,8.0,1,184.55,179.00,3.720670
2,#315 8 butas Pažaislio apartamentuose,B,5,330.22,7.0,1,340.16,335.00,3.696716
0,"#257 Loftai, Kaunas XXII",A-,5,100.64,6.0,1,103.52,102.00,3.576471
3,#401 Dvibutis Ismonių g.,C,10,100.00,7.0,1,106.96,104.00,3.415385
2,#353 14 Renesanso butas,B,8,1000.00,7.5,1,1053.42,1030.00,3.410680
3,#396 Lapino namai IV,B-,10,100.00,8.0,1,107.96,105.00,3.382857
5,#403 Bendorių panoramos,C,10,200.00,8.0,1,215.91,210.00,3.377143
1,#407 Butai Kęstučio 5,B-,11,3500.00,9.0,1,3813.27,3700.00,3.339656
1,#347 Užupio butai,B,7,10000.00,9.0,2,10601.64,10400.00,3.323736
0,#433 Butas Verkių g.,B,8,606.95,8.0,1,643.13,630.00,3.126190
5,#402 Tarandės namai II,B+,16,1211.80,7.0,1,1331.25,1280.00,3.002930
4,#349 11 Renesanso butas,B,8,1000.00,7.0,1,1049.48,1030.00,2.836893
1,#373 Butas Pilies g.,A-,9,100.00,6.0,1,104.14,102.00,2.797386
3,"#409 Kvartalas ""Baltai"" III etapas",B-,11,2388.80,9.5,1,2614.49,2550.00,2.758930
4,#393 Butai Kaune III,A-,16,210.00,5.0,1,225.68,218.00,2.642202
1,#414 Namas Dusmenų g.,B-,17,500.00,8.0,1,559.62,540.00,2.564706
0,"#409 Kvartalas ""Baltai"" III etapas",B-,11,500.00,8.5,1,542.27,530.00,2.525557
1,#441 Gruodo butai,C+,12,117.61,8.0,1,126.97,124.00,2.395161
3,#405 Butai Kaune IV,A-,17,200.00,5.0,1,214.90,208.00,2.341629
2,#427 Vienbutis Kalno 87,B-,8,102.90,7.5,1,108.63,107.00,2.285047
5,#434 Namai Miško panoramoje,B-,5,519.40,8.0,1,539.89,535.00,2.193645
5,#363 Butas Žirmūnuose,B,8,1000.00,7.5,1,1054.66,1040.00,2.114423
2,#400 Du dvibučiai Didžiojoje Riešėje II,C+,11,500.00,8.0,1,539.78,530.00,2.013036
0,#399 Namas Šumsko g.,B-,10,104.16,7.5,1,111.93,111.00,1.005405
4,#403 Bendorių panoramos,C,10,103.60,8.0,1,111.84,111.00,0.908108
3,#386 Gedimino 2,B+,10,104.76,6.5,1,111.53,111.00,0.572973
1,#359 Radastų namai III,B-,8,100.00,7.5,1,105.30,105.00,0.428571
2,#348 Radastų namai II,B-,8,146.61,7.5,1,154.29,154.00,0.282468
1,#311 Butai Žvėryne „S41“ IV,A,5,100.00,5.0,1,102.15,103.00,-1.980583
4,#301 Butai Žvėryne „S41“ II,A,4,100.00,5.0,1,102.23,103.00,-2.242718
4,#274 Namas Kulmo g.,B-,7,1094.39,9.0,1,1162.66,1199.00,-5.195758

C:\Users\adoma\AppData\Local\Programs\Python\Python39\lib\site-packages\gevent\hub.py:161: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [5]:
print(df[(df['Palūkanų norma'] - df['Realios palūkanos']) < 0]) # basically we're trying to find projects that have largest interest rate, than

Empty DataFrame
Columns: [Projekto pavadinimas, Reitingas, Likęs terminas, Likusi suma, Palūkanų norma, Statusas, Likusi gautina sumai, Pardavimo kaina, Realios palūkanos]
Index: []

In [4]:
df[df['Realios palūkanos'] < 0]

                      Projekto pavadinimas  ... Realios palūkanos
3             #337 Valakampių apartamentai  ...        -12.273913
4                   #322 Namas Žemuogių g.  ...         -1.165217
1        #343 Namų kvartalas „Baltai sala"  ...         -0.784000
3  #400 Du dvibučiai Didžiojoje Riešėje II  ...         -0.846257
1                       #394 Mėtų dvibutis  ...         -1.851429

[5 rows x 9 columns]

![image.png]()

In [ ]:
from datetime import datetime

date = datetime.now().strftime('%Y-%m-%d')

df.sort_values('Realios palūkanos', ascending=False).head(100).to_excel(f'profitus_secondary_market_{date}.xlsx')